css rules{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 70px;
}
#mission{
    color: darkblue;
}
section{
    display: flex;
    margin-bottom: 59px;
}
.determine{
   width: 80%; 
   padding-left: 10%;
   padding-top: 6%;
}
.determine img{
    width: 70%;
}
p{
    font-size: 20px;
}
a{
    padding-left: 5%;
    margin-top: 10%;
    margin-bottom: 20%;
    padding-bottom: 5%;
}
.destination{
    margin: 50% 5%;
    width: 150px;
    text-decoration: none;
    background-color: rgb(8, 8, 69);
    margin: 0 10px;
    padding: 1% 1%;
    color: aliceblue;
    margin-left: 10%;
    margin-bottom: 10px;
}
  
.explore{
    font-size: 19px;
    margin-left: 10%;
    padding-bottom: 5%;
    padding-top: 1%;
}
.goals{
    display: flex;
    margin-bottom: 1px;
}
.mission{
    display: flex;
    margin-top: 150px;
}

.moto{
    display: flex;
    border-left: 8%;
}
.strength{
    width: 30%;
    margin-left: 8%;
    padding-left: 1%;
    padding-right: 2%;
    border-radius: 5%;
    background-color: antiquewhite;
}
h2{
    font-size: 35px;
}
.education{
    width: 30%;
    margin-left: 2%;
    padding-left: 1%;
    padding-right: 2%;
    border-radius: 5%;
    background-color: rgb(204, 223, 216);
}
.maintain{
    width: 30%;
    margin-left: 2%;
    margin-right: 8%;
    padding-left: 1%;
    padding-right: 2%;
    border-radius: 5%;
    background-color: lightgray;
}
.quality{
    font-size: 55px;
    text-align: center;
    color: black;
    margin-top: 10%;
}
span{
    color: blue;
}
.mission img{
    width: 35%;
    padding-left: 5%;
    padding-top: 5%;
}
.code img{
    width: 50%;
    margin-right: 10%;
    margin-left: 15%;
}
.code{
    width: 80%;
}
.limit{
    margin-top: 15%;
}
.tech{
    font-size: 50px;
    color: blue;
}

